<h1>Customer Dashboard</h1>

<p> Welcome <%= current_customer.first_name + " " + current_customer.last_name%> </p>
<p><%= link_to "Sign Out", destroy_customer_session_path, method: :delete, data: {confirm: "Are you sure to signout?" } %> </p>