<h1> Restaurant Owner Dashboard </h1>

<p>Welcome <%= current_owner.first_name %> </p>

<p><%= link_to "Create Restaurant", new_owners_dashboard_path %>	
<p><%= link_to "Sign Out", destroy_customer_session_path, method: :delete, data: {confirm: "Are you sure to signout?" } %> </p>